<div class="container static col-md-8 offset-md-2">
  <div class="page-title text-right">
    <h2>About llumi</h2>
    <hr />
  </div>
  <div>
    <h4>Inspiration</h4>
    <p>llumi has been developed to allow weightlifters to not only track and
      manage their lifting sessions, but to actually make steady improvements
      in strength, conditioning, and other important outcomes. By combining the
      raw data input by the user with charts and graphs, llumi enables
      weightlifters to better visualize and understand various trends that can
      ultimately help to pinpoint areas of improvement that may have been
      otherwise unnoticed. This leads to goal crushing. When a goal you've
      identified is crushed, check it off and push on. Make it happen.</p>

    <h4>Technologies used</h4>
    <p>llumi utilizes Ruby, Ruby on Rails, jQuery, JavaScript, D3.js,
      Bootstrap, RSpec, Capybara, HTML, and CSS.</p>

    <h4>The Creator</h4>
    <p>Active duty Air Force, turned registered nurse, turned web developer,
      Tyler built llumi with a few thoughts in mind. After spending half of his
      life not lifting weights, he began exercising and weightlifting in
      preparation for the military and never looked back. In fact, he liked it
      so much he earned a B.S. in Exercise Science along the way. Having
      recently completed a coding bootcamp, The Firehose Project, he thought it
      only natural to build a weightlifting app. This serves many purposes:
      It allows him to combine his love of exercise with his new love of web
      development. More importantly, web development is challenging. As such,
      llumi offers a great platform to continue learning and gaining valuable
      experience with the high hopes of transitioning into a career as a
      full-time web developer.</p>
  </div>
</div>
