<div class="container static col-md-8 offset-md-2">
  <div class="page-title text-right">
    <h2>Contact us</h2>
    <hr />
  </div>
  <div>
    <h4>General inquiries</h4>
    <p>If you have any questions or comments regarding llumi, please send us an
    email to <%= mail_to 'llumi.lift@gmail.com' %>.</p>

    <h4>Hiring the developer</h4>
    <p>If you are interested in talking with Tyler about potential employment
      opportunities with your organization, please contact him via the email
      address above. You may also connect with him via Linkedin by clicking
      the icon below. If you'd like to take a closer look at this project, you
      can review the code repository on GitHub via the icon at the bottom of
      the page. Thank you in advance!
  </div>
</div>
