@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Ubuntu+Condensed');
@import "font-awesome";

/* universal */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* top navigation */

.nav-head {
  width: 100%;
  background-color: #9b9a98;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#site-logo {
  color: 	#2a5f9b;
  font-size: 2.5rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-decoration: none;
  margin-right: auto;
  padding-left: 15px;
  &:hover {
    color: #e3d3bd;
  }
}

.nav-group {
  display: flex;
  flex-direction: row;
}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li a {
    color: white;
    &:hover {
      background-color: rgba(155, 154, 152, 0.75);
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      color: #2a5f9b;
      font-weight: bold;
    }
  }
}

.weightlifter-img {
  height: 35px;
  width: 35px;
  margin: 12.5px 0;
}

.rotate-weightlifter {
  transform: rotate(360deg);
  transition-duration: 1000ms;
}

#dropdownNavLink {
  color: #2a5f9b;
  text-decoration: none;
}

.dropdown {
  cursor: pointer;
}

.dropdown-menu {
  background-color: rgba(42, 95, 155, 0.9);
  padding: 0;
  text-align: center;
}

/* footer */

#flex-content-container {
  flex: 1;
}

#footer {
  background-color: #2a5f9b;
  color: #e3d3bd;
  margin-top: 32px;
  padding-top: 1rem;
  width: 100%;
  min-height: 100px;
  a {
    color: #e3d3bd;
    font-weight: 100;
  }
  small {
    display: block;
    text-align: center;
    margin: 10px 0 5px 0;
  }
}

.footer-links {
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 12.5px;
    &:nth-of-type(2) {
      border-left: 1px solid;
      border-right: 1px solid;
      padding: 0 17px;
    }
  }
}

.social {
  background-color: #9b9a98;
  text-align: center;
  padding: 7px 12.5px 5px 12.5px;
  i {
    color: rgba(0, 0, 0, .65);
    margin: 0 12.5px;
  }
  a:focus, a:hover {
    text-decoration: none;
  }
}

/* universal page styling */

.page-title {
  margin-top: 32px;
  hr {
    border: 1px solid rgba(42, 95, 155, 0.75);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.static {
  p {
    text-align: justify;
  }
  a {
    color: #2a5f9b;
    &:hover {
      color: #306bab;
    }
  }
}

/* homepage */

.title-display {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.lead img {
  height: 35px;
  width: 35px;
  transform: rotate(-135deg);
}

.card {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #e3d3bd;
  margin-bottom: 32px;
  img {
    width: 100%;
  }
}

.card-block {
  background-image: linear-gradient(to bottom, #306bab, #2a5f9b);
}

.placeholder-bg {
  background-color: whitesmoke;
}

.get-started {
  font-family: 'Ubuntu Condensed', sans-serif;
  padding: 32px 0;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  .btn {
    margin-top: 5px;
  }
}

/* buttons */

.btn {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #2a5f9b;
  background-image: linear-gradient(to bottom, #306bab, #2a5f9b);
  &:hover {
    background-color: #306bab;
    background-image: linear-gradient(to bottom, #2a5f9b, #306bab);
  }
}
